#!/bin/bash

export MATRIXSERVER=https://matrix.example.com
export MAUBOT_WEBHOOK_INSTANCE=instance_id
export MAUBOT_SOCIAL_WEBHOOK_INSTANCE=instance_id
export MAUBOT_STATUS_WEBHOOK_INSTANCE=instance_id
